
\.idea/

network-games/data/results/

networkgames/__pycache__/

networkgames/util/__pycache__/

networkgames/data/__pycache__/

__pycache__/*

networkgames/core/__pycache__/

networkgames/core/objects/__pycache__/

networkgames/core/logger/__pycache__/

networkgames/core/games/__pycache__/

networkgames/core/controls/__pycache__/

networkgames/core/util/__pycache__/

networkgames/__pycache___/

networkgames/\.DS_Store

networkgames/data/results/

networkgames/test/__pycache__/
